<!--Edit_Category.html-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
      th:replace="base::Layout(~{::SECTION})">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<SECTION>
  <div class="container-fluid p-5 mt-5">
    <div class="row ">
      <div class="col-md-3 offset-md-5">
        <div class="card card-sh">
          <div class="card-header text-center">
            <p class="fs-4">Add Category</p>
            <th:block th:if="${session.Success}">
              <p class="text-success fw-bold">[[${session.Success}]]</p>
              <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
            </th:block>

            <th:block th:if="${session.Error}">
              <p class="text-danger fw-bold">[[${session.Error}]]</p>
              <th:block th:text="${@commonServiceImpl.removeSessionMessage()}"></th:block>
            </th:block>
          </div>
          <div class="card-body">
            <form action="/admin/updateCategory" method="post" enctype="multipart/form-data">
              <input type="hidden" name="id" th:value="${category.id}">
              <div class="mb-3">
                <label>Enter Category</label>
                <input type="text" class="form-control" name="name" th:value="${category.name}">
              </div>

              <div class="mb-3">
                <label>Status</label>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="isActive" id="active" value="true"
                         th:checked="${category.isActive != null && category.isActive}" />
                  <label class="form-check-label" for="active">Active</label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="isActive" id="inactive" value="false"
                         th:checked="${category.isActive != null && !category.isActive}" />
                  <label class="form-check-label" for="inactive">Inactive</label>
                </div>
              </div>


              <div class="mb-3">
                <label>Upload Image</label>
                <input type="file" class="form-control" name="file">
              </div>
              <img th:src="@{'/img/Category/' + ${category.imageName}}" width="50px" height="50px" alt="Category Image">
              <button class="btn btn-primary col-md-12 mt-2">Update</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</SECTION>
</body>
</html>