<!--Index.html-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeLeaf.org"
      th:replace="base::Layout(~{::SECTION})" xmlns:D="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <SECTION>
<!--        Start Slider   -->
        <div id="carouselExample" class="carousel slide">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/img/ecom1.png" class="d-block w-100" alt="E-Commerce Image" height="450px">
                </div>

                <div class="carousel-item">
                    <img src="/img/ecom2.jpg" class="d-block w-100" alt="E-Commerce Image" height="450px">
                </div>

                <div class="carousel-item">
                    <img src="/img/ecom3.jpg" class="d-block w-100" alt="E-Commerce Image" height="450px">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
<!--        End Slider   -->

<!--        Start Category Module  -->
        <div class="container">
            <div class="row">
                <p class="text-center fs-4">Category</p>
                <div class="col-md-2">
                    <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                        <div class="card-body text-center">
                            <img src="img/Category/appli.png" width="70%" height="130px">
                            <p>Electronics</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                        <div class="card-body text-center">
                            <img src="img/Category/beuty.png" width="70%" height="130px">
                            <p>Beauty</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                        <div class="card-body text-center">
                            <img src="img/Category/book.jpg" width="70%" height="130px">
                            <p>Books</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                        <div class="card-body text-center">
                            <img src="img/Category/groccery.jpg" width="70%" height="130px">
                            <p>Grocery</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                        <div class="card-body text-center">
                            <img src="img/Category/mobile.png" width="70%" height="130px">
                            <p>Mobile</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-2">
                    <div class="card rounded-circle shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                        <div class="card-body text-center">
                            <img src="img/Category/laptop.jpg" width="70%" height="130px">
                            <p>laptop</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
<!--        Start Category Module  -->

<!--        Productds Start   -->

        <div class="container-fluid bg-light p-3">
            <div class="row">
                <p class="text-center fs-4">Latest Products</p>

                <div class="col-md-3">
                    <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                        <div class="card-body text-center">
                            <img src="img/Products/laptop.jpg"
                                 width="70%" height="130px">
                            <p class="text-center">HP Laptop</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                        <div class="card-body text-center">
                            <img src="img/Products/oneplus mobile.jpg"
                                 width="70%" height="130px">
                            <p class="text-center">OnePlus Mobile </p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                        <div class="card-body text-center">
                            <img src="img/Products/monitor.jpg"
                                 width="70%" height="130px">
                            <p class="text-center">Desktop</p>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card shadow-sm p-3 mb-5 bg-body-tertiary rounded">
                        <div class="card-body text-center">
                            <img src="img/Products/iphone 14.jpg"
                                 width="70%" height="130px">
                            <p class="text-center">Iphone 14</p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
<!--        Products End    -->




    </SECTION>

</body>
</html>